body {
  font-family: 'Noto Sans', sans-serif;
}

h1.header {
  color: rgb(0, 0, 0);
  font-size: 55px;
  font-family: 'Roboto Slab', serif;

  margin-top: 10px;
  margin-bottom: 15px;
}
h2.header{
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-family: 'Noto Sans', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
h3.header{
  color: rgb(142, 142, 142);
  font-size: 10px;
  font-family: 'Noto Sans', sans-serif;
}
.email {
  color: rgb(92, 92, 92);
  text-decoration: underline;
}

.link {
  color: #006ebf;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

#links {
  font-size: 14px;
}

.main-container {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#skal {
  font-size: 17px;
  font-weight: bold;
}
